DROPBOX_CILIA_ENABLED=true
DROPBOX_ACCESS_TOKEN=cole_seu_token_dropbox_aqui
DROPBOX_CILIA_INPUT_PATH=/xml-cilia/entrada
DROPBOX_CILIA_PROCESSED_PATH=/xml-cilia/processados
DROPBOX_CILIA_ERROR_PATH=/xml-cilia/erro
